.AuthorName {
  font-style: italic;
  padding-right: 2%;
}

.NoteContent {
  text-align: left;
  background-color: #ffff00;
  padding: 2%;
}

.NoteDate {
  padding-left: 2%;
}

.NoteDiv {
  padding: 1%;
}

.NoteHeader {
  display: flex;
  border-width: 1px;
  text-align: left;
  background-color: #33ff00;
  padding: 2%;
}

.NoteScore {
  font-weight: bolder;
  padding-right: 2%;
}