.App {
  text-align: center;
  padding-bottom: 1%;
}

.App-link {
  color: #61dafb;
}

.LogoutButton {
  float: right;
}

.NewSearchAutocomplete {
  width: 30em;
}

.NewSearchInput {
  width: 30em;
}

.NewSearchInputDiv {
  width: 30em;
  margin-right: 2%;
  margin-left: 2%;
  background-color: white;
  border-radius: 5%;
}

.NewSpaceInput {
  width: 10em;
}

.NewSpaceInputDiv {
  width: 10em;
  margin-right: 2%;
  margin-left: 2%;
  background-color: white;
  border-radius: 5%;
}

.SearchDiv {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
  width: 95%;
  background-color: #aa00ff;
  border-width: 0.5rem;
  border-color: #7700b3;
  border-style: solid;
}

.SearchPanesDiv {
  display: flex;
  flex-wrap: wrap;
}